# Задать кодировку
AddDefaultCharset utf-8

# Редиректы
RewriteEngine On
RewriteBase /
Options +FollowSymLinks

# Удаляем повторяющиеся слеши
RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
RewriteRule (.*) / [R=301,L]

# Редирект с www на без
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301] 

# Редирект с www на https
RewriteCond %{ENV:HTTPS} on
RewriteRule .* - [E=SSL:s]
RewriteCond %{HTTP_HOST} !^www\.(.*) [NC] 
RewriteRule ^(.*)$ http%{ENV:SSL}://www.%{HTTP_HOST}/$1 [R=301,L]


# Редирект с index.php на корень
RewriteCond %{REQUEST_URI} /index.php
RewriteRule ^(.*)$ http://site.ru? [R=301,L]

-------------------------------------

# Редиректы с http на https

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP:X-HTTPS} !1
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP:X-HTTPS} !1
RewriteCond %{HTTP_HOST} ^site\.ru$
RewriteRule ^(.*)$ https://site.ru/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP:X-SSL} !^yes$
RewriteRule (.*) https://site.ru/$1 [R=301,L]

-------------------------------------

# Редирект для Битрикс с index.php на корневую папку, например site.ru/news/index.php в site.ru/news/
RewriteCond %{REQUEST_URI} !^www.site\.ru/bitrix/admin/
RewriteCond %{REQUEST_URI} !^site\.ru/bitrix/admin/
RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
RewriteRule ^(.*)index\.php$ http://%{HTTP_HOST}/$1 [R=301,L]
